.table-screen-container1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 1840px;
  padding: 30px 51px 50px;
}
.reference-application-label {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-top: 346px;
  font: 400 16px Poppins, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  white-space: pre-wrap;
}
